body
{
    background-size: 100%;
    background-image:url('rosettes.jpg');
    background-color:#B2B2B2;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    font-family: Yanone Kaffeesatz;
    font-weight: 700;
    font-size: 90px;
    color: white;
    display: inline;
} 

p {
    font-family: Arbutus Slab, serif;
    color: white;
    margin-top: 150px;
    font-size:22px
}

a {
    text-decoration: none
}a:link, a:visited {
    color: white
}

.circle {
    border-radius: 50%;
    width: 500px;
    height: 200px; 
    background-color: rgba(0,0,0,0.4);
    padding: 50px;
    display:table;

    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innercircle {
    display: table-cell;
    vertical-align: middle;
}

.shiny:hover {
    color:#FF3300
}

